/* Remove default margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    background-color: black;
    color: aliceblue;
}

.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 100px auto;
}

.intro {
    width: 450px;
    height: 200px;
}

#presentation {
    font-size: 30px;
}

.decoration {
    margin-top: 50px;
    /* border-right: 0; */
}

.decoration:hover {
    opacity: 0.8;
}

footer {
    color: azure;
}

/*link*/
a {
    text-decoration: none;
    color: aqua
}

a:hover {
    color: pink;
}

a:active {
    color: black;
}